<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".Post.PostActivity"
            android:exported="false" />
        <activity
            android:name=".Page.PageActivity"
            android:exported="false" />
        <activity
            android:name=".Media.MediaActivity"
            android:exported="false" />
        <activity
            android:name=".Comment.CommentActivity"
            android:exported="false" />
        <activity
            android:name=".Account.AccountActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>